:root {
  --main-padding: 12px;
  --main-margin: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.group1 {
  width: 400px;
  display: flex;
  justify-content: center;
  background-image: url("photo1.avif");
  background-size: cover;
  background-position: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 4.8rem;
  color: white;
  margin-top: 25%;
  width: 100%;
  height: 100px;
}
img {
  width: 50px;
  height: 50px;
}

.group2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form {
  margin-top: 32px;
  background-color: pink;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  padding-top: var(--main-padding);
}

.introduction-text,
.create-account,
.form-container,
.text {
  padding-left: var(--main-padding);
}

p,
i,
label,
em {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

label {
  font-size: 1rem;
}

.seperate-text {
  margin-top: var(--main-margin);
  width: 50%;
}

.introduction-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2; /* Adjust this value to your desired spacing */
  width: 60%;
}

.user-input-box {
  width: 50%;
  padding-bottom: 15px;
}

input {
  width: 170px;
  line-height: 15px;
  margin-right: 10px;
  font-size: 1rem;
}

input:focus {
  outline: none !important;
  border: 1px solid green;
  box-shadow: 0 0 10px #719ece;
}

.create-account {
  background-color: white;
}
.create-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: var(--main-margin);
}

a {
  font-size: 1.2rem;
  color: green;
}

a:hover {
  color: rgb(12, 202, 75);
}

.bottom {
  margin-top: var(--main-margin);
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .group1 {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .group2 {
    margin-top: var(--main-margin);
    justify-content: center;
    align-items: center;
  }

  .seperate-text {
    width: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    margin-bottom: var(--main-margin);
  }
}
